/* UserMenu.css */

.user-menu {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
  padding: 10px;
}

.horizontal-menu {
  list-style: none;
  padding: 0;
  display: flex; /* Muestra las opciones en una fila horizontal */
}

.horizontal-menu li {
  margin-right: 30px; /* Espaciado entre las opciones */
  cursor: pointer;
}

.horizontal-menu li:last-child {
  margin-right: 0; /* Elimina el margen derecho de la última opción */
}

.horizontal-menu li:hover {
  text-decoration: underline;
}
