.container_data{
    width: 100%;
    height: 90%;
    margin-top: 1rem;
}
.container_img{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 40%;
    width: 100%;

}
.container_img img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.info_box{
    padding: 20px;

}
.info_item{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.info_item label{
    width: 50%;

}
.info_item span{
    width: 50%;
}

.button_data{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}